.login__brand {
    display: none !important;
}
.graphic-icon {
     display: none !important;
}
.before-dashboard {
    display: none !important;
}
.browse-by-folder-button {
    display: none !important;
}